<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <%= render partial: "shared/cdn_assets"%>
    <title>Helper Methods Part 3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <%= render partial: "shared/navbar" %>
    
    <%# div.class is the short cut to generate the code you want for this one it is div.container %>
    <div class="container mt-4">
    <%# can use render: "folder/filename" to generate the part needed %>
  <%= render partial: "shared/flash_messages"%>

      <%= yield %>
    </div>
  </body>
</html>
